$progress-red: #f45763;
$crayola-blue: #0d6efd;
$celtic-blue: #0069d9;
$amaranth: #dc3545;
$cardinal: #c82333;
$light-gray: #d3d3d3;
$platinum: #e5e4e2;
$davys-gray: #555555;
$black: #000000;
$white: #ffffff;
$success: #28a745;
$dove-gray: #707070;

$grey-bg: #fafafa;
$grey-5: #f8f8f8;
$grey-10: #f2f2f2;
$grey-18: #2e2e2e;
$grey-20: #dedede;
$grey-40: #bcbcbc;
$grey-60: #a0a0a0;
$grey-80: #7c7c7c;
$grey-82: #1d1d1d;
$grey-100: #5a5a5a;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$red-100: #f8d7da;
$red-200: #f1aeb5;
$red-300: #f66d7a;
$red-400: #fa5252;
$red-500: #f03e3e;
$red-600: #e03131;
$red-700: #c92a2a;
$red-800: #a82424;
$red-900: #761b1b;

$blue-100: #cce5ff;
$blue-200: #99ccff;
$blue-300: #66b3ff;
$blue-400: #3399ff;
$blue-500: #007bff;
$blue-600: #0066cc;
$blue-700: #004c99;
$blue-800: #003366;
$blue-900: #001a33;
